/* src/app/components/candlestick/candlestick.component.css */
:host {
  display: block;
  width: 100%;
  height: 100%;
}

div[chartContainer] {
  width: 100%;
  height: 100%;
}

.tradingview-widget-container {
  width: 100%;
  height: auto;
  margin: 20px 0;
}
