<p-toast position="top-center" style="position: fixed; z-index: 50"></p-toast>
<div class="container">
    <h4>{{question}}</h4>
  
        <div class="flex align-items-center" *ngFor="let choice of choices" >
            <p-radioButton
                name="userAnswer" 
                [value]="choice" 
                [(ngModel)]="userAnswer"

             />
            <label for="choice" class="ml-2" #options>
                {{choice}}
            </label>
        </div>
         <div class="btnContainer">
        <p-button label="submit" (onClick)="submitAnswer()" icon="pi pi-send" />
        <p-button label="solution"  styleClass="green" (onClick)="showCorrectAnswer()" icon="pi pi-lightbulb" />
        </div>

    </div>

