<nav [ngClass]="isScrolled && 'scrolled'" >
<img src="../../assets/images/logo.png"  routerLink="home" style="cursor: pointer; height: 100px">
<div class="links">
    <p-button  label="Login"  *ngIf="!authService.isAuthenticated()" routerLink="login" icon="pi pi-sign-in" />
    <p-button label="register"   *ngIf="!authService.isAuthenticated()" routerLink="register" styleClass="register"  icon="pi pi-user-plus" />
    <p-button label="trading"    *ngIf="authService.isAuthenticated()" routerLink="trading"   icon="pi pi-euro" />
    <p-button label="academy"    *ngIf="authService.isAuthenticated()" [routerLink]="['/academy',lastLesson()]"   icon="pi pi-graduation-cap" />
    <p-button label="training"    *ngIf="authService.isAuthenticated()"  routerLink="training"  icon="pi pi-graduation-cap" />
    <p-button label="currency"    *ngIf="authService.isAuthenticated()"  routerLink="currency"  icon="pi pi-dollar" />
    <p-button label="notes"    *ngIf="authService.isAuthenticated()"  routerLink="notes"  icon="pi pi-clipboard" />
    <p-button icon="pi pi-bell" (onClick)="toggleNotifications()" *ngIf="authService.isAuthenticated()"/>
   <app-notifications [notificationsVisible]="notificationsVisible"></app-notifications>

    <p-button label="logout"  (click)="logout()"   *ngIf="authService.isAuthenticated()"  styleClass="register"   icon="pi pi-sign-out" />
    
</div>


</nav>
