<section style="display: flex; flex-direction: column; gap : 50px; align-items: center;">
  <div class="banner">
  <h1>compare last currency tendencies !</h1>
  <img src="../../assets/images/currency_illustration.png" alt="">
</div>
<div class="tradingview-widget-container" #container >
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>

</div>

<div class="tradingview-widget-container" #container2 >
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>

</div>
</section>