<div style="width: 250px; margin: auto; margin-top: 50px">
<p-button label="latest currency trends"   routerLink="/currency"  icon="pi pi-dollar" />
</div>
<div class="newsContainer">
<div  #container style="height: 600px; width: 500px; ">
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="" async>
   
    </script>
  </div>
  </div>
<div  #container2 style="height: 600px; width: 500px; ">
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
  </div>
</div>
</div>
