<p-toast position="top-center" style="position: fixed; z-index: 50"></p-toast>

<div class="notesContainer">
<h1 class="title">Take notes !</h1>
<img src="../../assets/images/gummy-blackboard.png" class="notesImg" alt="">
<quill-editor [(ngModel)]="noteContent"></quill-editor>
<p-button label="save" (onClick)="onSave()" />

<nb-card accent="success"  *ngFor="let note of notes" [(ngModel)]="notes">
    <nb-card-header>{{note.created_at}}</nb-card-header>
    <nb-card-body>
        <p [innerHTML]="note.content"></p>
    </nb-card-body>
  </nb-card>
  