.notesContainer {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px ;
  
}
.title {
   color: gray;
   font-style: italic;
}
.notesImg {
    width: 200px;
    height: 200px;
}
.savedNotes {
    display: flex;
    flex-direction: column;
    gap: 30px ;
    
}
.savedContainer {
    width: 80%;
    margin: auto;
    display: flex;
    gap:20px;
    justify-content: center;
}
.savedContainer > * {
    width: 50%;
}

